stages:
    - QA
    - Release to PyPI

Check linting:
  image: docker:stable
  services:
    - docker:dind
  stage: QA
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - apk add make
    - ARGS="--check" make lint

Unit Tests:
    stage: QA
    image: divio/base:1.1-py3.6-alpine3.12
    script:
        - apk add git 
        - pip install -r requirements.txt
        - pytest

Release Tag:
    stage: Release to PyPI
    image: divio/base:1.1-py3.6-alpine3.12
    script:
        - apk add python3-dev build-base libffi-dev openssl-dev git
        - pip install twine
        - pip install -r requirements.txt
        # Install the package in develop mode so setuptools_scm can retrieve 
        # the new version.
        - python setup.py develop
        - python setup.py sdist bdist_wheel
        #- twine upload -p $PYPI_PASSWORD, -u $PYPI_USERNAME dist/*
#    only:
#        - tags
