<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>AldrynCloud</string>
	<key>CFBundleGetInfoString</key>
	<string>0.1</string>
	<key>CFBundleIconFile</key>
	<string>appIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>AldrynCloud</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AldrynCloud</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LSBackgroundOnly</key>
	<string>True</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>CFBundleExecutable</key>
	<string>AldrynCloud</string>
</dict>
</plist>
